 {{#each this}}
 <div class="country-list">
     <img src="{{flags.svg}}" alt="" class="flag" width="32" height="32">
     <h1 class="country_name">{{ name.official }}</h1>
    
   
 </div>
 {{/each}}